name: Veri Guncelleme
on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Tum Verileri Cek ve Firebase e Gonder
        run: |
          # 1. HAVA DURUMU (ANKARA)
          curl -s "https://wttr.in/Ankara?format=j1" > hava.json
          
          # 2. NAMAZ VAKITLERI (ANKARA)
          curl -s "https://muslimsalat.com/ankara/daily.json" > namaz.json
          
          # 3. HABER KAYNAKLARI (RSS TO JSON)
          curl -s "https://api.rss2json.com/v1/api.json?rss_url=https://www.trthaber.com/manset_articles.rss" > haber_trt.json
          curl -s "https://api.rss2json.com/v1/api.json?rss_url=https://www.cnnturk.com/feed/rss/all/news" > haber_cnn.json
          curl -s "https://api.rss2json.com/v1/api.json?rss_url=https://www.ntv.com.tr/gundem.rss" > haber_ntv.json
          
          # 4. FIREBASE VERITABANINA GONDERIM
          curl -X PUT -d @hava.json "https://piyasa-9049c-default-rtdb.firebaseio.com/hava.json"
          curl -X PUT -d @namaz.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
          curl -X PUT -d @haber_trt.json "https://piyasa-9049c-default-rtdb.firebaseio.com/haber_trt.json"
          curl -X PUT -d @haber_cnn.json "https://piyasa-9049c-default-rtdb.firebaseio.com/haber_cnn.json"
          curl -X PUT -d @haber_ntv.json "https://piyasa-9049c-default-rtdb.firebaseio.com/haber_ntv.json"
