name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Namaz Vakitlerini Cek
        run: |
          # Ankara/Sincan için vakitleri çek (Vakit.me API)
          curl -s "https://vakit.me/api/v1/vakityer?yer=13009" > namaz_data.json
          
          # Firebase'e gönder
          curl -X PUT -d @namaz_data.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
