name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Saatleri Ayıkla ve Gonder
        run: |
          # Ankara verisini çek ve sadece saatlerin olduğu 'timings' kısmını al
          DATA=$(curl -s "https://api.aladhan.com/v1/timingsByCity?city=Ankara&country=Turkey&method=13")
          echo $DATA | jq '.data.timings' > vakitler.json
          
          # Firebase'e sadece bu küçük saat listesini gönder
          curl -X PUT -d @vakitler.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
