name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Test Gonderimi
        run: |
          # API kullanmadan el ile test verisi gonderiyoruz
          echo '{"durum": "deneme", "sehir": "Ankara"}' > test.json
          curl -X PUT -d @test.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
