name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Veri Cek ve Gonder
        run: |
          curl -s "https://api.aladhan.com/v1/timingsByCity?city=Ankara&country=Turkey&method=13" > data.json
          curl -X PUT -d @data.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
