name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Veri Cek
        run: |
          # Ankara Sincan (İlçe ID: 9214) verisini çekiyoruz
          curl -L "https://ezanvakti.herokuapp.com/vakitler/9214" -o namaz.json      
      - name: Firebase Gonder
        run: |
          # Veriyi Firebase'e basıyoruz
          curl -X PUT -d @namaz.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
